/* Be aware, adventurer. What beasts lie ahead may trouble you. (This CSS was rushed, it'll be tidied...) */

body {
  background-color: #1a1a1b;
  overflow: hidden;
}

/*
INIT
*/

.login-modal {
  width: 100vw;
  height: 100vh;
  background: url(images/login-image.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
  display: table;
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.login-container {
  vertical-align: middle; /* IE8 vertical center. */
  display: table-cell; /* IE8 vertical center. */
  background-color: #1a1a1b;
  opacity: 0.9;
}

.main-title {
  color: #fff;
  font-size: 3em;
  font-family: sans-serif;
}

.sub-title {
  color: #fff;
  font-size: 1em;
  font-family: sans-serif;
}

.login-form {
  margin: 0 auto;
  margin-top: 50px;
  width: 120px;
}

.username-textbox {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: #cacacc;
}

.enter {
  width: 102%;
  height: 30px;
  margin-top: 10px;
  background-color: #404043;
  border: none;
  border-top: 1px solid #4a4a4d;
  border-left: 1px solid #4a4a4d;
  border-radius: 6px;
  color: #cacacc;
  box-sizing: border-box;
  cursor: pointer;
}

/*
LEFT
*/

.left {
  left: 0;
  width: 70px; /* If changing this value, change ".right { left: * } to match." */
  position: absolute;
}

.sidebar {
  width: 100%;
  height: 100vh;
  padding: 10px;
  float: left;
  background-color: #242425;
  box-sizing: border-box;
  position: relative;
}

.channel {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #373739;
  border-radius: 25px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0,2,1,2);
  display: table; /* IE8 vertical center. */
}

.channel p {
  color: #cacacc;
  font-family: sans-serif;
  vertical-align: middle; /* IE8 vertical center. */
  display: table-cell; /* IE8 vertical center. */
  user-select: none;
  -moz-user-select: none;
}

.active {
  border-radius: 15px;
}

.channel:hover {
  border-radius: 15px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0,2,1,2);
  cursor: pointer;
}

/*
CENTER
*/

.center {
  left: 70px;
  right: 0px;
  height: 100%;
  position: absolute;
}

.header-container {
  left: 70px;
  right: 0;
  height: 50px;
  padding: 15px 10px;
  box-sizing: border-box;
  background-color: #2d2d2f;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 100;
}

.room-title {
  width: 80vw;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #cacacc;
  user-select: none;
  -moz-user-select: none;
}

.message-list {
  top: 50px;
  bottom: 55px;
  width: 100%;
  overflow: auto;
  background-color: #1a1a1b;
  box-sizing: border-box;
  position: absolute;
}

.message {
  padding: 15px 15px;
  font-family: sans-serif;
  font-size: 0.95em;
  background-color: #2d2d2f;
  border-top: 1px solid #373739;
  color: #848489;
  box-sizing: border-box;
  word-break: break-all;
}

.sent {
  color: #cacacc;
}

.server {
  background: none;
  border: none;
  color: #848489;
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
}

.textbox-container {
  bottom: 0;
  width: 100%;
  height: 55px;
  padding: 10px 13px;
  border-top: 1px solid #373739;
  background-color: #2d2d2f;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
}

.textbox {
  width: 90%;
  height: 100%;
  padding: 10px;
  padding-left: 15px;
  font-family: sans-serif;
  background-color: #404043;
  border: none;
  border-top: 1px solid #4a4a4d;
  border-radius: 6px 0 0 6px;
  color: #cacacc;
  box-sizing: border-box;
  cursor: text;
}

.submit {
  width: 10%;
  height: 63%;
  background-color: #404043;
  border: none;
  border-top: 1px solid #4a4a4d;
  border-left: 1px solid #4a4a4d;
  border-radius: 0 6px 6px 0;
  color: #cacacc;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
}

/*
RIGHT
*/

.right {
  right: 0;
  width: 0px;
  height: 100%;
  position: absolute;
}

.user-sidebar {
  display: none;
  visibility: hidden;
  top: 50px;
  width: 100%;
  padding: 10px;
  height: 100vh;
  background-color: #242425;
  box-sizing: border-box;
  position: relative;
}

.user-list {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: sans-serif;
}

.user-item {
  height: 20px;
  margin-top: 5px;
}

.user {
  word-wrap: break-word;
  color: #cacacc;
}
